.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
}

.box {
  width: 80%;
}

.inner {
  width: 100%;
  border: 1px solid black;
  position: relative;
}

table td {
  white-space: nowrap;
  padding-bottom: 10px;
}

.small-text {
  font-size: 10px;
}